
/***********************************************************************
/* NAVIGATION
***********************************************************************/

#navigation {position:fixed; z-index:7; top:0px !important; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none;}

li a:active:hover{
	background-color: #c91986;
}

/* ----------------------------------------------------- */
/* TEXT BACKGROUND */

p.black_style {
    font-size: 24px!important;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 20px;
}